<ul class="states-list">
    {{#each this}}
    <li class="states-list-item">
        <a href="" class="states-list-link">
            <img src="{{flag}}" alt="{{name}}" class="states-list__image" />
            <p class="states-list-item__name">{{name}}</p>
        </a>
    </li>
    {{/each}}
</ul>